/* Home.css */
.home-container {
    display: flex;
    justify-content: space-between; /* Space between content and image */
    flex-direction: column;
    padding: 20px;
    gap:20px;
}
  
.home-content {
    max-width: 500px;
    align-self: flex-start;
}
  
.home-container h1 {
    margin-bottom: 10px;
    align-self: flex-start;

}
  
.home-container p {
    margin-bottom: 20px;
    align-self: flex-start;
    flex:1;
}
  
.home-button {
    align-self: flex-start;
}

.home-img {
    width: 200px; /* Set the width of the image to 150 pixels */
    align-self: flex-end;
    margin-top: 20px;
}
