body {
    margin: 0;
    padding: 30px; /* Adds padding around the entire body */
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box; 
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    text-align: center;
  }

.container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    background-color: #d3d3ff;
    border-radius: 20px;
}



.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* margin-top: 20px; */
}

/* Styling for individual tags */
.tag {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: #d0d0d0;
}

/* Style for selected tags */
.tag.selected {
    background-color: #4caf50;
    color: white;
}

/* Styling for selected interests list */
.selected-tags {
    margin-top: 20px;
    text-align: center;
}

.selected-tags ul {
    list-style-type: none;
    padding: 0;
}

.selected-tags li {
    font-size: 18px;
}

/* -------------------------------------------------- */

#input {
    position: relative;
}

.h1 {
    font-size: 33.2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#next {
    padding: 20px 30px;
    font-size: 16px;
    background-color: #ffb5fa;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    font-size: 25px;
    position: relative;
    bottom: 0;
    right: 0;
}